# Carpeta node_modules generada por npm
node_modules/

# Archivos y directorios generados por npm
package-lock.json
npm-debug.log

# Carpeta .vscode generada por Visual Studio Code
.vscode/

# Carpeta .idea generada por IntelliJ IDEA
.idea/

# Carpeta dist generada por Webpack u otro empaquetador
dist/

# Node.js
node_modules/

# Archivos de compilación
dist/
build/
.webpack/

# Archivos de configuración local
.env