/* Register Form */

#register-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 300px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

#register-form h1 {
    margin-bottom: 20px;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"],
#register-button,
#register-form a {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 8px;
    margin: 5px 0;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

#register-button {
    cursor: pointer;
}

#register-button:hover,
#register-form a:hover {
    background-color: #fff;
    color: #000;
}

/* Login Form */

#login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 300px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

#login-form h1 {
    margin-bottom: 20px;
}

#login-form input[type="text"],
#login-form input[type="email"],
#login-form input[type="password"],
#login-button,
#login-form a {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 8px;
    margin: 5px 0;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

#login-button {
    cursor: pointer;
}

#login-button:hover,
#login-form a:hover {
    background-color: #fff;
    color: #000;
}


/* Estilos CSS para la tabla */
#scores-table {
    position: absolute;
    top: 30%; /* Ajusta la posición vertical según sea necesario */
    left: 50%; /* Centra la tabla horizontalmente */
    transform: translateX(-50%); /* Centra la tabla horizontalmente */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 5px;
    padding: 10px;
    max-height: 300px; /* Altura máxima de la tabla, ajusta según sea necesario */
    overflow-y: auto; /* Agrega un scrollbar vertical si la tabla es muy larga */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar la tabla */
    z-index: 100; /* Asegura que la tabla esté encima de otros elementos */
  }
  
  #scores-table th,
  #scores-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Borde inferior de las celdas */
    text-align: center; /* Alinea el texto al centro */
  }
  
  #scores-table th {
    background-color: #f2f2f2; /* Color de fondo para las celdas del encabezado */
    color: #000;
}

  